.button-container{
    width: 175px;
    height: 35px;
    background-color: #482970;
    border: 1px solid #7E669C;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1ECF8;
    box-shadow: #0000003e 0px 0px 15px;    
    transition: all 0.07s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.button-container:hover{
    background-color: #502e7c;
}

.button-container:active{
    background-color: #5b348d;
}