.page-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, hsl(260, 10%, 7%),hsl(260, 35%, 12%));
  display: flex;
  flex-direction: row;
  overflow: clip;
  position: relative;
}

.page-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 100px;
  opacity: 0.1;
  filter: brightness(50%);
  pointer-events: none;
  z-index: 0;
}


.search-view {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 15px);
  overflow-y: auto;
  padding-top: 15px;
}

.search-view input {
  height: 30px;
  width: 300px;
  background: hsl(255, 9%, 9%);
  border: 2px solid rgb(50, 46, 55);
  border-radius: 20px;
  padding-inline: 15px;
  transition: all 0.2s ease-in-out;
}

.search-view input:focus {
  outline: none;
  border: 2px solid hsl(269, 43%, 25%);
}

.search-results {
  background: hsl(260, 10%, 17%);
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.674) 0px 0px 25px;

}

.book-search-result {
  width: 1000px;
  height: 222px;
  margin-block: 35px;
  background: hsl(268, 15%, 13%);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: black 0px 0px 15px;
  margin-inline: 25px;
}

.book-details {
  width: 894px;
  padding-left: 20px;
  color: #ede5f7;
}

.book-details h1 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.book-headers {
  height: fit-content;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
}

.book-title-author {
  width: 475px;
}

.book-title-author > h1 {
  font-size: 1.3rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-height: 64px;
}

.book-details p {
  font-size: 16px;
  overflow-y: scroll;
  height: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.book-additional-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-right: 20px;
  gap: 15px;
  position: relative;
}
.book-additional {
  font-size: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.book-additional a {
  margin-top: 25px;
  font-size: 0.8rem;
  color: #bda9d6;
  font-weight: 500;
}

.book-additional h1 {
  font-weight: 500;
  color: #bda9d6;
}

.book-description {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  height: 45px;
  overflow-x: hidden;
  padding-right: 20px;
}

.book-description p{
  height: 45px;
}

.discount {

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(29, 42, 14);
  font-size: 0.8rem;
  border-radius: 15px;

}

.discount > p{
    font-weight: 400;
}

.disc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loading-disc-absolute {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.loading-disc-absolute > *{
  box-shadow: rgb(0, 0, 0) 0px 0px 25px;

}

.book-price-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  scale: 1;
  transition: scale 0.1s ease-in-out;

}


.book-price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  background-color: #384D1E;
  border-radius: 15px;
  margin-top: 10px;
  border: 1px solid #516c30;

}

.book-price p{
  font-size: 1rem;
  padding-inline: 7px;
  user-select: none;
  
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.book-price-container:hover{
  scale: 1.05;
}

.book-price-container:active{
  scale: 1;
}

.library-view{
  padding-top: 40px;
  padding-left: 40px;
  width: 100vw;
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow-y: auto;
}