.book-container{
    background: #180F24;
    width: 176px;
    height: 222px;
    position: relative;
    border-radius: 20px;
}

.book-cover{
    width: 176px;
    height: 222px;
    border-radius: 20px;
}
.buttons-container{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}